/*--------------------
  全体の設定
--------------------*/
body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  color: #3d3536;
  margin: 0;
}

/*--------------------
  ナビゲーション
--------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  /*background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);*/
  z-index: 2;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}

.main-nav {
  position: static;
  list-style: none;
  overflow: hidden;
  text-align: right;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.main-nav ul {
  position: static;
  line-height: 70px;
  padding-right: 2em;
}
.main-nav li {
  display: inline-block;
  font-size: 90%;
  margin-left: 1em;
}
.main-nav li a {
  display: block;
  height: auto;
  line-height: normal;
  padding: .4em 1em;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}
.main-nav li a:hover {
  color: #858585;
}

/*--------------------
  メイン
--------------------*/
.main {
  position: relative;
  width: 100%;
  z-index: 1;
}

/*--------------------
  メイン中身
--------------------*/
.main-top {
  height: 100%;
  /*background: #f4f4f4;*/
  text-align: center;
}
.main-profile {
  height: 600;
  background: #6decb9;
  text-align: center;
  color: #4b4b4b;
  overflow: auto;
}
.main-portfolio {
  background: #11999e;
  text-align: center;
  color: #4b4b4b;
  overflow: auto;
}
.main-contact {
  background: #3c3c3c;
  text-align: center;
  color: #ffffff;
}
/*--------------------
  Title
--------------------*/
.span_title {
  color: #ffffff;
  background-color: #464646;
}
/*--------------------
  Profile
--------------------*/
.circle {
  background: #490A3D;
  background: rgba(73,10,61,.7);

   box-shadow: rgba(0,0,0,0.2) 1px 1px 2px;
   -webkit-box-shadow: rgba(0,0,0,0.2) 1px 1px 2px;
   -moz-box-shadow: rgba(0,0,0,0.2) 1px 1px 2px;
}
.profile_contents div {
  float: left;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  padding: 0px;
  border-radius: 50%;
  line-height: 100px;
  text-align: center;
  text-decoration: none;
  /*-webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;*/
  transition: .5s;
  z-index: 10;
  color: #fff;

  /*position: relative;
  overflow: auto;
  float: left;*/

  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 10px;
  -webkit-margin-end: 10px;
}
.profile_contents div:hover {
  top: -75px;
  left:-75px;
  width: 200px;
  height: 200px;
  line-height: 200px;
  z-index: 100;

  /*transform: scale(1.5);*/
}
.profile_contents p {
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	-webkit-transition: .3s;

	color: white;
  padding-top: 30;
  text-align: center;
}
.profile_contents p:hover {
	color: black;
}

/*--------------------
  Parallax
--------------------*/
.bg-holder {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  color: #fff;
}
.bg-holder .content {
  color: #fff;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.pic1 {
  background-image: url('/images/bg/patter.jpg');
}
