/*--------------------
  全体の設定
--------------------*/
body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  color: #3d3536;
  margin: 0;
}

/*--------------------
  ナビゲーション
--------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  /*background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);*/
  z-index: 2;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}

.main-nav {
  position: static;
  list-style: none;
  overflow: hidden;
  text-align: right;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.main-nav ul {
  position: static;
  line-height: 70px;
  padding-right: 2em;
}
.main-nav li {
  display: inline-block;
  font-size: 90%;
  margin-left: 1em;
}
.main-nav li a {
  display: block;
  height: auto;
  line-height: normal;
  padding: .4em 1em;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}
.main-nav li a:hover {
  color: #858585;
}

/*--------------------
  メイン
--------------------*/
.main {
  position: relative;
  width: 100%;
  z-index: 1;
}
/*.main div {}*/
/*.main h1 {
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}*/

/*--------------------
  メイン中身
--------------------*/
.main-top {
  /*height: 500;*/
  background: #f4f4f4;
  text-align: center;
}
.main-profile {
  /*height: 600;*/
  background: #6decb9;
  /*text-align: center;*/
  color: #4b4b4b;
}
.main-portfolio {
  height: 600;
  background: #11999e;
  /*text-align: center;*/
  color: #4b4b4b;
  overflow: auto;
}
.main-contact {
  /*height: 100%;*/
  background: #3c3c3c;
  text-align: center;
  color: #ffffff;
}
/*--------------------
  Title
--------------------*/
.span_title {
  color: #ffffff;
  background-color: #464646;
  text-indent: 5em;
}
/*--------------------
  Parallax
--------------------*/
.bg-holder {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  color: #fff;
}
.bg-holder .content {
  color: #fff;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.pic1 {
  background-image: url('/images/bg/patter.jpg');
}
@media screen and (max-width: 480px) {
  .pic1 {
    background-image: url('/images/bg/patter.jpg');
  }
}
