/*-----------------------------
　画像レイアウト
-----------------------------*/
.box {
	float: left;
}
.boxContainer {
	position: relative;
	display: inline-block;
	overflow: hidden;
	text-align: center;
}
.box img {
	width: 300px;
	height: auto;
	border-radius: 5px;
}
.title_size {
	height: 15em;
}
@media only screen and (max-width:480px) {
	.title_size {
		height: 8em;
	}
}
/*-----------------------------
　画像、マウスオーバー等
-----------------------------*/
.transform01 {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

figure {
	position: relative;
	overflow: hidden;
	width: 300px;

	/* 画像に角丸マスクをかける */
	border-radius: 6px;
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
	mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

}
figcaption {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	-webkit-transition: .3s;
	transition: .3s;
	opacity: 0;
	color: #ffffff;
}
figure:hover figcaption {
	opacity: 1;
}
figure:hover .transform01 {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
